/* #2 #colorful #palette is:
          * Background: #F5F5F5 (GREY 100)
          * Primary Text: black

          * Primary color: #3F51B5 (INDIGO)
          * Primary color_text : white
          * Accent color: #CDDC39 (LIME)
          * Accent color_text: black
          */

/*global styles */

* {
	/* #2 #font #faces */
	font-family: 'Arial', sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	/* #2 #colorful #background */
	background-color: #F5F5F5;
}

h1 {
	/* #2 #colourful #app-bar */
	background-color: #3F51B5;
	color: white;
}

button {
	/* #2 #colourful #plusfive */
	background-color: #CDDC39;
	color: black;
	/* #2 #font capital #letters */
	text-transform: uppercase;
}

button, strong{
	text-transform: uppercase;
}


/*styles for channel area*/

ul {
	/* #2 #colorful #channelandchat */
	background-color: white;
	list-style-type: none;
}

/*styles for chat area*/

p {
	/* #2 #colorful #channelandchat */
	background-color: white;
}

strong {
	/* #2 #font #locations need an extra element, we'll use strong for w3w locations */
	text-transform: uppercase;
}

h3 {
	/* #2 #font #metadata is now medium */
	font-size: medium;
}

em {
	/* #2 #font #remaining overrides the default italic appearance of em elements*/
	font-size: larger;
	font-style: normal;
}

h3 a{
	color: #00BDC4;
}