/* #2 #colorful #palette is:
          * Background: #F5F5F5 (GREY 100)
          * Primary Text: black

          * Primary color: #3F51B5 (INDIGO)
          * Primary color_text : white
          * Accent color: #CDDC39 (LIME)
          * Accent color_text: black
          */

/*global styles */

* {
	/* #2 #font #faces */
	font-family: 'Arial', sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	/* #2 #colorful #background */
	background-color: #F5F5F5;
}

h1 {
	/* #2 #colourful #app-bar */
	background-color: #3F51B5;
	color: white;
}

button, strong{
	text-transform: uppercase;
}

#tab-bar{
	background-color: white;
	text-align: center;
}

#tab-bar button{
	height: 70px;
	background-color: white;
	color: black;
	text-transform: uppercase;

	width: 33%;
	border: none;
	padding: 16px;
}

#tab-bar button.selected{
	color: #3F51B5;
	border-bottom: 4px solid #3F51B5;
}

#tab-bar button img{
	display: block;
	margin: 0 auto 4px auto;
}


/*styles for channel area*/

.message{
	width: 80%;
	margin-bottom: 8px;
	margin-left: 2%;
}

.message h3{
	font-size: medium;
}

.message h3 em{
	font-size: larger;
	font-style: normal;
}

.message p{
	background-color: white;
	padding: 16px;
}

.message button{
	background-color: #CDDC39;
	color: black;
	text-transform: uppercase;
}

ul {
	/* #2 #colorful #channelandchat */
	background-color: white;
	list-style-type: none;
}

li{
	box-sizing: border-box;
	height: 50px;
	padding: 16px;
	font-size: 16px;
	border-bottom: 1px solid #EEEEEE;
}

li.selected{
	color: #3F51B5;
	border-left: 4px solid #3F51B5;
}

li img{
	vertical-align: middle;
}
/*styles for chat area*/

p {
	/* #2 #colorful #channelandchat */
	background-color: white;
}

strong {
	/* #2 #font #locations need an extra element, we'll use strong for w3w locations */
	text-transform: uppercase;
}

h3 {
	/* #2 #font #metadata is now medium */
	font-size: medium;
}

em {
	/* #2 #font #remaining overrides the default italic appearance of em elements*/
	font-size: larger;
	font-style: normal;
}

h3 a{
	color: #00BDC4;
}